*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --body-max-width: 1024px;
  --card-bg-color: #ffffff;
  scroll-behavior: smooth;
}

:not(:defined),
[hidden] {
  display: none !important;
}

.noscript-banner {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius);
  background-color: #f8d7da;
  text-align: center;
  color: #000000;
}

.component-description p {
  margin: 0 0 0.5rem 0;
}

.component-description p:last-child {
  margin-bottom: 0;
}

.card {
  background-color: var(--card-bg-color);
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid var(--border);
  margin-bottom: 0.5rem;
}

.card > details {
  margin-bottom: 0;
}

.card details summary {
  font-weight: 500;
}


.back-top {
  text-align: right;
  font-size: 0.875rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --card-bg-color: #283647;
  }
}

browser-window {
  --bw-background: var(--background-alt);
  display: block;
}

browser-window::part(base) {
  border-color: var(--border);
}

browser-window::part(main) {
  padding: 1.25rem;
}

browser-window alert-element:not(:last-child) {
  margin-block-end: 1rem;
}

/* Custom variant */
alert-element {
  --alert-custom-variant-color: #823ff2;
}

@media (prefers-color-scheme: dark) {
  alert-element {
    --alert-custom-variant-color: #b5a1ff;
  }
}

alert-element[variant="custom"]::part(base) {
  border-top-color: var(--alert-custom-variant-color);
}

alert-element[variant="custom"]::part(icon) {
  color: var(--alert-custom-variant-color);
}

/* Custom alert styles */
.custom-alert {
  --alert-bg-color: #cfe2ff;
  --alert-fg-color: #072c65;
  --alert-border-color: #9ec5fe;
}

@media (prefers-color-scheme: dark) {
  .custom-alert {
    --alert-bg-color: #061633;
    --alert-fg-color: #6ea8fe;
    --alert-border-color: #0a4298;
  }
}

.custom-alert::part(base) {
  border-width: 1px;
}

.custom-alert::part(icon) {
  color: var(--alert-fg-color);
}

.custom-alert::part(close) {
  background-color: var(--alert-fg-color);
  color: var(--alert-bg-color);
  border-radius: 0.25rem;
  padding: 0.25rem;
}

/* Toast alerts */
.alert-toast-stack alert-element {
  font-size: 90%;
}
